body {
    position: relative;
    color: #ece6e6;
    font: 300 'Roboto' 12px;
    background: url('img/bg.jpg') #243944 center center repeat;
}

.content {
    max-width: 920px;
    margin: 0 auto;
    padding: 4%;
}

h1 {
    font-size: 32px;
    margin: 12px 0 24px;
}

h2 {
    font-size: 26px;
    margin: 12px 0 24px;
}
ul{
    font-size: 15px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
